p {
    font-weight: 100;
    color: red;
    background-color: black;
    font-style: italic;
    line-height: 150%;

}
/* 
 height: ;  /*Altura */
 /* width: ;   Largura */

 /* font-size: configura o tamanho de um texto */ 

 img {
    height: 100px;
    width: 100%;
 }

 /* Medidas Abslutas: cm, in, px */
/* 
 Medidas Relativas: %, em, rem, vh, vw */

 
/* rem = Sempre ira responder ao tamanho configurado no elemento root (html)

em = sempre ira respeitas o tamanho definido no elemento pai mais proximo. */

#paragrafo1 {
    font-size: 2rem;
}